.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 250px;
    margin-top: 10px;
    padding: 20px;
    height: calc(100vh - 60px);
    background-color: #0093E9;
    background-image: linear-gradient(135deg, #6cc9fff2 0%, #a0eee5 59%);
}

.leaderboard {
    width: 80%;
    max-width: 900px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
}

.leaderboard h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #333333;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

thead tr {
    background-color: #007bff;
    color: #ffffff;
}

th,
td {
    padding: 1rem;
    text-align: center;
}

th {
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #8ddef9;
}

tbody tr:hover td{
    transform: scale(1.2); 
    transition: transform 0.2s ease;
}

td {
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}
